server:
  port: 0

spring:
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Europe/Moscow
        show_sql: true
        type.descriptor.sql.BasicBinder: TRACE
  mvc:
    format:
      date-time: yyyy-MM-dd HH:mm:ss
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/commentservice
    username: commentservice
    password: commentservice

feign:
  client:
    config:
      user-service:
        decode404: true

stats-server:
  url: http://stats-server

logging:
  level:
    org.springframework.orm.jpa: INFO
    org.springframework.transaction: INFO
    org.springframework.transaction.interceptor: TRACE
    org.springframework.orm.jpa.JpaTransactionManager: DEBUG
    org.zalando.logbook: TRACE
    ru.practicum: TRACE

eureka:
  client:
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname:localhost}:${eureka.instance.port:8761}/eureka/
