grpc:
  server:
    port: 0
spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: aggregator-consumer-group
kafka:
  topics:
    user-actions: stats.user-actions.v1
    events-similarity: stats.events-similarity.v1
logging:
  level:
    com.netflix.discovery: DEBUG
    org.springframework.cloud.netflix.eureka: DEBUG
    org.springframework.cloud.client.discovery: DEBUG
    org.springframework.boot.autoconfigure.web.servlet.DispatcherServletAutoConfiguration: INFO
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    hostname: localhost
    instance-id: "${spring.application.name}:${random.value}"